<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">Categories</h4>
                    <ul>
                    {% for c in shoop.general.get_root_categories() recursive %}
                        {% set children = c.get_children() %}
                        <li>
                            {% if children %}
                                <a href="{{ url("shoop:category", pk=c.pk, slug=c.slug) }}">{{ c }}</a>
                                <ul>{{ loop(children) }}</ul>
                            {% else %}
                                <a href="{{ url("shoop:category", pk=c.pk, slug=c.slug) }}">{{ c }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    <h4 class="underline">Carousel Images</h4>
                    <ul>
                        <li>Images (<a href="//creativecommons.org/licenses/by/2.0/">CC-BY 2.0</a>) by Ola Matsson</li>
                        <li>
                            (<a href="//www.flickr.com/photos/trysil/5592103128">Image 1</a>,
                            <a href="//www.flickr.com/photos/trysil/5525985010">Image 2</a>,
                            <a href="//www.flickr.com/photos/trysil/5591534161">Image 3</a>)
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">Company Info</h4>
                    <ul>
                        {# TODO: Some of these links are not implemented anywhere #}
                        <li><a href="#">About Wintergear</a></li>
                        <li><a href="#">100% Satisfaction Guarantee</a></li>
                        <li><a href="#">Corporate and Bulk Sales</a></li>
                        <li><a href="#">Jobs at WinterGear</a></li>
                        <li><a href="#">Interest Based Ads</a></li>
                        {% set privacy_policy_page = shoop.simple_cms.get_page_by_identifier("privacy-policy") %}
                        {% if privacy_policy_page %}
                            <li>
                                <a href="{{ url("shoop:cms_page", url=privacy_policy_page.url) }}">
                                    {{ privacy_policy_page }}
                                </a>
                            </li>
                        {% endif %}
                        {% set terms_page = shoop.simple_cms.get_page_by_identifier("terms-and-conditions") %}
                        {% if terms_page %}
                            <li>
                                <a href="{{ url("shoop:cms_page", url=terms_page.url) }}">
                                    {{ terms_page }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">Help</h4>
                    <ul>
                        {# TODO: These links are not implemented anywhere #}
                        <li><a href="#">Help Section</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Shipping Info</a></li>
                        <li><a href="#">WinterGear Coupon</a></li>
                        <li><a href="#">Product Safety and Recalls</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="underline">Wintergear Membership</h4>
                    <ul>
                        {# TODO: These links are not implemented anywhere #}
                        <li><a href="#">Become an WinterGear Member</a></li>
                        <li><a href="#">Member Help</a></li>
                        <li><a href="#">Find Membership Number</a></li>
                        <li><a href="#">Dividend Lookup</a></li>
                        <li><a href="#">Gift Certificates</a></li>
                        <li><a href="#">Discount Codes</a></li>
                        <li><a href="#">Manage Your WinterGear Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="social-media">
                    <ul>
                        {# TODO: These links are not implemented anywhere #}
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                    </ul>
                </div>
                <div class="payment-methods">
                    <ul>
                        {# TODO: These links are not implemented anywhere #}
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
