<div id="carousel-frontpage" class="frontpage-carousel carousel fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active" style="background-image: url('{{ STATIC_URL }}img/carousel-1.jpg')">
            <div class="container">
                <div class="item-caption">
                    <div class="text">
                        <h2>2015 Snow Sale – Up To 40% Off</h2>
                        <p>Save up to 40% off on all 2015 ski and snowboard gear, outdoorwear and accessories. All our major brands are offering exclusive WinterGear sales that we are passing on to you. Check out today’s deals.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ STATIC_URL }}img/carousel-2.jpg')">
            <div class="container">
                <div class="item-caption">
                    <div class="text">
                        <h2>New children’s gear is just in!</h2>
                        <p>We’ve got everything you need to keep your young ones warm and safe this winter. Our handpicked kid’s line offers the latest in winter technology, from hats and jackets, to the best in helmets.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url('{{ STATIC_URL }}img/carousel-3.jpg')">
            <div class="container">
                <div class="item-caption">
                    <div class="text">
                        <h2>Downhill Tech Highlights</h2>
                        <p>We’ve got the scoop on the improvements made on last years ski gear models. From improved bindings and boots, to super slick wax, we have all the latest in gear to keep you flying down the mountain.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#carousel-frontpage" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-frontpage" data-slide-to="1"></li>
        <li data-target="#carousel-frontpage" data-slide-to="2"></li>
    </ol>

    <a class="carousel-arrow prev" href="#carousel-frontpage" role="button" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="carousel-arrow next" href="#carousel-frontpage" role="button" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</div>
