{% extends "shoop/front/base.jinja" %}
{% block content_title %}{% endblock %}
{% block carousel %}
    {% include "shoop/front/includes/_frontpage-carousel.jinja" %}
{% endblock %}

{% block extra_main_class %}index{% endblock %}

{% block content %}
    <section class="frontpage-section white">
        <div class="container">
            <h2 class="section-title">{% trans %}New products{% endtrans %}</h2>
            <div class="product-carousel owl-carousel five">
                {% for product in shoop.general.get_newest_products() if shoop.product.is_visible(product) %}
                    {{ macros.product_box(product, show_description=False) }}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="frontpage-section bg-color brand-primary">
        <div class="container">
            <div class="icon-row">
                <div class="column">
                    <i class="primary-icon fa fa-ship"></i>
                    <h3>{% trans %}Free shipping all over the world{% endtrans %}</h3>
                    <p>{% trans %}Free shipping is available for all WinterGear orders over 75€. WinterGear free shipping is applied automatically at checkout. Find out more about shipping your items with WinterGear.{% endtrans %}</p>
                </div>
                <div class="column">
                    <i class="primary-icon fa fa-credit-card"></i>
                    <h3>{% trans %}Multiple payment methods{% endtrans %}</h3>
                    <p>{% trans %}WinterGear accepts all major payment methods including credit cards, bank transfer, paypal, and more. All your payments are completely secure and backed by our customer service guarantee. Find out more about our accepted payment methods.{% endtrans %}</p>
                </div>
                <div class="column">
                    <i class="primary-icon fa fa-shield"></i>
                    <h3>{% trans %}Shopping is secure with us{% endtrans %}</h3>
                    <p>{% trans %}We’re committed to your security and buying experience. We do not store any personal information and offer easy returns and shipping guarantees. Find out more about our customer service pledge.{% endtrans %}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="frontpage-section white text-center">
        <div class="container">
            <h2 class="section-title">{% trans %}Newest articles{% endtrans %}</h2>
            <div class="owl-carousel three">
                <a href="/" class="col-inner">
                    <div class="image">
                        <img src="{{ STATIC_URL }}wintergear/img/carousel-1.jpg">
                    </div>
                    <div class="text">
                        <h4>{% trans %}Interview with Freestyler Jack Brown{% endtrans %}</h4>
                        <p>{{ "We caught up with rising freestyle star Jack Brown for a quick interview on his new line of ski and snowboard clothes. We discuss improvements in design, the 2015 championship tour, and sponsorships"|truncate(180, true) }}</p>
                    </div>
                </a>
                <a href="/" class="col-inner">
                    <div class="image">
                        <img src="{{ STATIC_URL }}wintergear/img/carousel-2.jpg">
                    </div>
                    <div class="text">
                        <h4>{% trans %}Our Experts Guide to Packing Gear{% endtrans %}</h4>
                        <p>{{ "Check out our picks for the essential items you need to enjoy the worst that winter has to offer. Carry too much and you might not complete your journey as you planned. Carry too little and you could risk lack of food and freezing temps"|truncate(180, true) }}</p>
                    </div>
                </a>
                <a href="/" class="col-inner">
                    <div class="image">
                        <img src="{{ STATIC_URL }}wintergear/img/carousel-3.jpg">
                    </div>
                    <div class="text">
                        <h4>{% trans %}Join WinterGear at SnowSlam Festival{% endtrans %}</h4>
                        <p>{{ "WinterGear will be setting up shop at SnowSlam Festival this November in Valais, Switzerland. Join us for a day of great bands, great people, and everything ski and snowboard. Join us at our stand for giveaways and free swag"|truncate(180, true) }}</p>
                    </div>
                </a>
                <a href="/" class="col-inner">
                    <div class="image">
                        <img src="{{ STATIC_URL }}wintergear/img/carousel-1.jpg">
                    </div>
                    <div class="text">
                        <h4>{% trans %}Lift Tickets Available Through Us{% endtrans %}</h4>
                        <p>{{ "Save time at the mountain by buying your lift ticket in advance through us. We offer tickets to most major skiing destinations in Europe and exclusive WinterGear discounts. Read more to find our latest deals"|truncate(180, true) }}</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="frontpage-section gray slim">
        <div class="container">
            <div class="clearfix text-center">
                <h2><i class="fa fa-envelope-o inline-icon"></i>{% trans %}Subscribe to our newsletter!{% endtrans %}</h2>
                <p class="text-larger">{% trans %}Hear all the latest news and receive offers by subscribing to our newsletter!{% endtrans %}</p>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
                    <hr>
                    <form>
                        <div class="form-group">
                            <label for="subscribe">{% trans %}Enter your e-mail address{% endtrans %}</label>
                            <div class="input-group">
                                <input id="subscribe" type="text" class="form-control">
                                <span class="input-group-btn"><button class="btn btn-primary">{% trans %}Subscribe{% endtrans %}!</button></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
