{% extends "shoop/front/base.jinja" %}

{% block title %}{% trans %}Page not found{% endtrans %}{% endblock %}
{% block content_title %}{% trans %}Oops! Page not found{% endtrans %}{% endblock %}

{% block content %}
    <div class="container">
        <h4><i class="fa fa-warning text-warning"></i> {% trans %}The page you were looking for doesn't exist.{% endtrans %}</h4>
        <a href="/" class="back-to-home-btn"><i class="fa fa-angle-double-left"></i> {% trans %}Back to homepage{% endtrans %}</a>
    </div>
    <hr>
    <section>
        <div class="container">
            <h2 class="section-title">{% trans %}New products{% endtrans %}</h2>
            <div class="product-carousel owl-carousel">
                {% for product in shoop.general.get_newest_products() if shoop.product.is_visible(product) %}
                    {{ macros.product_box(product, show_description=False) }}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
