{% macro quantity_box() %}
    <div class="form-group amount">
        <label for="quantity">{% trans %}Quantity{% endtrans %}</label>
        <div class="input-group">
            <input
            type="number"
            class="form-control"
            name="quantity"
            id="product-quantity"
            {% if shop_product.package_size %}
                step="{{ shop_product.package_size }}"
            {% else %}
                step="{{ product.sales_unit.quantity_step }}"
            {% endif %}
            {% set quantity=product.sales_unit.round(shop_product.minimum_purchase_quantity) %}
            value="{{ quantity }}"
            min="{{ quantity }}"
            >
            <span class="input-group-addon sales-unit">{{ product.sales_unit.short_name }}</span>
        </div>
    </div>
{% endmacro %}

{% if unorderability_reason %}
    <p class="not-orderable">{{ unorderability_reason }}</p>
{% elif variation_children %}
    {% if not orderable_variation_children %}
        <p class="not-orderable">{% trans %}Product not orderable{% endtrans %}</p>
    {% else %}
        <div class="product-variations">
            <form role="form" method="post" action="{{ url("shoop:basket") }}" class="form-inline add-to-basket">
                <input type="hidden" name="return" value="{{ request.path }}">
                <input type="hidden" name="command" value="add">
                <div class="form-group">
                    <select name="product_id" id="product-variations" class="form-control">
                        {% for p in orderable_variation_children %}
                            {% set price = p.get_price(request) %}
                            <option value="{{ p.id }}">
                                {{ p.variation_name or p.name }}
                                ({{ price.taxful_price|floatformat(2) }} &euro; {% trans %}incl. VAT{% endtrans %} {{ product.get_tax_value_display() }}%,
                                {{ price.taxless_price|floatformat(2)}} &euro; {% trans %}VAT{% endtrans %} 0%)
                            </option>
                        {% endfor %}
                    </select>
                </div>
                {{ quantity_box() }}
                <button type="submit" class="btn btn-lg btn-block btn-primary btn-cart"><i class="fa fa-shopping-cart"></i> {% trans %}Add to cart{% endtrans %}</button>
            </form>
        </div>
    {% endif %}
{% else %}
    {% set is_orderable=shop_product.is_orderable(supplier=None, customer=request.customer, quantity=1) %}
    <div class="prices row">
        {% if is_orderable %}
            <form role="form" method="post" action="{{ url("shoop:basket") }}" class="add-to-basket">
                <div class="col-sm-12">
                    <input type="hidden" name="return" value="{{ request.path }}">
                    <input type="hidden" name="command" value="add">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    {{ quantity_box() }}
                </div>
                <div class="clearfix">
                    <div class="col-xs-7">
                        <button type="submit" class="btn btn-lg btn-primary btn-block btn-cart"><i class="fa fa-shopping-cart"></i> {% trans %}Add to cart{% endtrans %}</button>
                    </div>
                </div>
            </form>
        {% endif %}

    </div>
{% endif %}
