{% extends "shoop/front/base.jinja" %}

{% block title %}{% trans %}Checkout{% endtrans %}{% endblock %}
{% block content_title %}{% trans %}Checkout{% endtrans %}{% endblock %}

{% block content %}
    <div class="container basket">
        {% if basket.is_empty %}
            <div class="alert alert-danger">
                {% trans %}Your shopping cart is empty.{% endtrans %}
            </div>
        {% else %}
            {% include "shoop/front/basket/partials/table.jinja" %}
            <a href="{{ url("shoop:checkout") }}" class="btn btn-primary btn-lg pull-right">
                {% trans %}Proceed to checkout{% endtrans %} <i class="fa fa-angle-double-right"></i>
            </a>
        {% endif %}
    </div>
{% endblock %}

